* {
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;

}

.customBolderText  {
  font-weight: 800 !important; 
}

.customBoldText {
  font-weight: 600 !important; 
}

.profile-image {
  width: 100px;
}

.profile-card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px !important;
}

.envelope {
  width: 300px !important;
 
}

.contact-image{
  height: 200px;
}